<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="ExtraEntities"/>
    <add name="ExtraEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=ExtraClub;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\inetpub\wwwroot\ws\Log"/>
    <add key="CertPath" value="C:\inetpub\wwwroot\ws\Cert\certkey.tlk"/>
    <!--Add local smtp data for synclog -->
    <add key="SmtpHost" value="smtp.ExtraClub.ru"/>
    <add key="SmtpLogin" value="no-reply@ExtraClub.ru"/>
    <add key="SmtpPassword" value="UxbE8GJh"/>
    <add key="webpages:Enabled" value="true"/>
    <add key="webpages:Version" value="2.0.0.0"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="locExt" type="ExtraClub.WebService.CustomExtension, ExtraClub.WebService"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2000000000" maxBufferPoolSize="512" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpEndpointBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2000000000">
          <readerQuotas maxStringContentLength="9655360" maxArrayLength="9655360"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" realm=""/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asu.ExtraClub.ru/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService" contract="ExtraClub.ServiceModel.ISyncService" name="SyncServiceEndpoint"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceDefaultBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ExtraClub.WebService.MyValidator, ExtraClub.WebService"/>
          </serviceCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointLoc">
          <locExt/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="webHttp">
          <webHttp/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
    <services>
      <service behaviorConfiguration="ServiceDefaultBehaviour" name="ExtraService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" name="wsHttpEndpoint" behaviorConfiguration="endpointLoc" contract="ExtraClub.ServiceModel.IExtraService"/>
      </service>
      <service name="HttpMethods">
        <endpoint binding="webHttpBinding" behaviorConfiguration="webHttp" contract="ExtraClub.ServiceModel.IHttpMethods"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer/>
</configuration>