<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>
  <appSettings>
    <add key="DivisionId" value="5F7E8977-8B6A-4A4B-9C5F-B0EE67745A2F" />
    <add key="SparkPortNumber" value="1" />
    <add key="SparkAccessKey" value="000000" />
    <add key="UseKKM" value="0" />
    <add key="Line1KKM" value="Тонус-клуб" />
    <add key="Line2KKM" value="197000 " />
    <add key="Line3KKM" value="тел. 444-00-00" />
    <add key="Line4KKM" value="-------------" />
    <add key="Red" value="15" />
    <add key="Orange" value="10" />
    <add key="Yellow" value="5" />
    <add key="ServerAddress" value="https://localhost/ws2/ExtraService.svc" />
    <add key="Language" value="0" />
    <add key="SectionsNumber" value="1" />
    <add key="ShowCardNums" value="1" />
    <add key="ShowNames" value="1" />
    <add key="ShowPhones" value="0" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="StreamedResponse" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="99655360" maxArrayLength="99655360" maxBytesPerRead="1655360" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="wsHttpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="99655360" maxReceivedMessageSize="99655360" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="996553600" maxArrayLength="996553600" maxBytesPerRead="996553600" maxNameTableCharCount="996553600" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asu.flagmax.ru/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService" contract="ExtraClub.ServiceModel.ISyncService" name="SyncServiceEndpoint" />

      <endpoint address="https://localhost/ws2/ExtraService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint" contract="ExtraClub.ServiceModel.IExtraService" name="TCEndpoint" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <modules>
    <module assemblyFile="ExtraClub.DictionaryManager.dll" moduleType="ExtraClub.DictionaryManager.Module, ExtraClub.DictionaryManager" moduleName="DictionaryManager" />
   </modules>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"></servicePointManager>
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
