<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TonusEntities" connectionString="metadata=res://*/TonusEntities.csdl|res://*/TonusEntities.ssdl|res://*/TonusEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=tonusclub;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\inetpub\wwwroot\beautinika\Log"/>
    <add key="CertPath" value="C:\inetpub\wwwroot\beautinika\Cert\certkey.tlk"/>

    <add key="SmtpHost" value="delivery.flagmax.ru"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpFrom" value="welcome@tonusclub.ru"/>
    <add key="SmtpFromName" value="ТОНУС-КЛУБ: Гарантируем хорошую фигуру!"/>
    <add key="SmtpLogin" value="welcome@tonusclub.ru"/>
    <add key="SmtpPassword" value="955LVeXY5h"/>
    <add key="UseSSL" value="0"/>

    <!--<add key="SmtpHost" value="smtp.mastermail.ru"/>
    <add key="SmtpPort" value="465"/>
    <add key="SmtpFrom" value="no-reply@flagmax.ru"/>
    <add key="SmtpFromName" value="АСУ On Flagmax"/>
    <add key="SmtpLogin" value="no-reply@flagmax.ru"/>
    <add key="SmtpPassword" value="UxbE8GJh"/>-->
    <add key="AnketDestination" value="maximciel@mail.ru"/>
    <add key="ClaimEmailDestination" value="maximciel@mail.ru"/>
    <add key="ClaimZhdanova" value="maximciel@mail.ru"/>
    <add key="SyncDelay" value="3"/>





  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="4096" maxBufferPoolSize="512" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="4096" maxArrayLength="4096" maxBytesPerRead="4096" maxNameTableCharCount="4096"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IClaimService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2000000000" maxBufferPoolSize="512" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000" maxArrayLength="2000000000" maxBytesPerRead="2000000000" maxNameTableCharCount="2000000000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asu.flagmax1.ru/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService" contract="TonusClub.ServiceModel.ISyncService" name="SyncServiceEndpoint"/>
      <endpoint address="http://localhost/kpd/ClaimService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimService" contract="ClaimServiceContract.IClaimService" name="ClaimServiceEndpoint"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
