@model TonusClub.ServiceModel.Ticket

@{
    ViewBag.Title = Model.Number;
    ViewBag.BackActionUrl = Url.Action("Details", "Ticket", new { id = Model.Id });
}

<ul data-role="listview" data-inset="true">
    @foreach (var gr in Model.MinutesCharges.GroupBy(i => i.Date.Date).OrderByDescending(i => i.Key))
    {
        <li data-role="list-divider">@gr.Key.ToString("d MMMM yyyy")</li>
        foreach (var i in gr.OrderBy(i => i.Date))
        {
        <li>
            <span>@i.Reason</span>
            <span class="ui-li-count">@i.MinutesCharged.ToString("N1")</span>
        </li>
        }
    }
</ul>
