<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ExtraEntities" connectionString="metadata=res://*/ExtraEntities.csdl|res://*/ExtraEntities.ssdl|res://*/ExtraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=ExtraClub;Persist Security Info=True;User ID=sa;Password=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="C:\inetpub\wwwroot\ws\Log"/>
    <add key="CertPath" value="C:\inetpub\wwwroot\ws\Cert\certkey.tlk"/>

    <add key="SmtpHost" value="delivery.ExtraClub.ru"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpFrom" value="welcome@ExtraClub.ru"/>
    <add key="SmtpFromName" value="ТОНУС-КЛУБ: Гарантируем хорошую фигуру!"/>
    <add key="SmtpLogin" value="welcome@ExtraClub.ru"/>
    <add key="SmtpPassword" value="955LVeXY5h"/>
    <add key="UseSSL" value="0"/>

    <!--<add key="SmtpHost" value="smtp.mastermail.ru"/>
    <add key="SmtpPort" value="465"/>
    <add key="SmtpFrom" value="no-reply@ExtraClub.ru"/>
    <add key="SmtpFromName" value="АСУ On ExtraClub"/>
    <add key="SmtpLogin" value="no-reply@ExtraClub.ru"/>
    <add key="SmtpPassword" value="UxbE8GJh"/>-->
    <add key="AnketDestination" value="maximciel@mail.ru"/>
    <add key="ClaimEmailDestination" value="maximciel@mail.ru"/>
    <add key="ClaimZhdanova" value="maximciel@mail.ru"/>
    <add key="SyncDelay" value="3"/>





  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISyncService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="4096" maxBufferPoolSize="512" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="4096" maxArrayLength="4096" maxBytesPerRead="4096" maxNameTableCharCount="4096"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asu.ExtraClub1.ru/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncService" contract="ExtraClub.ServiceModel.ISyncService" name="SyncServiceEndpoint"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
