@model TonusClub.ServiceModel.TicketType

@{
    ViewBag.Title = "Новый абонемент";
    ViewBag.BackActionUrl = Url.Action("Index", "Shop");
}

<h1>Детали абонемента</h1>
<p>@Html.Raw(Model.TextDescription.Replace("\n", "<br/>"))</p>
<div class="ui-grid-a">
    <div class="ui-block-a"><a href="@Url.Action("Index", "Shop")" data-role="button" data-icon="arrow-l" >Назад</a></div>
    <div class="ui-block-b"><a href="@Url.Action("Buy", "Shop", new { id = Model.Id })" data-role="button" data-theme="d"  data-iconpos="right" data-icon="arrow-r">Оформить</a></div>
</div>
