@model TonusClub.CustomerPortal.Controllers.ShopModel
@{
    ViewBag.Title = "Новый абонемент";
    ViewBag.BackActionUrl = Url.Action("Tickets", "Home");
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Ваш клуб</li>
    <li>
        @Model.Division.Name
    </li>
</ul>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Абонементы в наличии</li>
    @foreach (var tt in Model.TicketTypes)
    {
        <li><a href="@Url.Action("Details", "Shop", new { id = tt.Id })">
                <h1 style="white-space:normal;">@tt.Name</h1>
            <p style="white-space:normal;"  >@Html.Raw(tt.TextDescription.Replace("\n","<br/>"))</p>
            </a></li>
    }
</ul>
